pandas
numpy
scikit-learn
scipy
matplotlib
seaborn
joblib
jupyter
ipykernel
streamlit
openai          
python-dotenv
fastapi
uvicorn
langchain
langchain-community
langchain-openai
faiss-cpu
sentence-transformers
python-dotenv
flask  
langchain-core
langchain-groq
toml
